@model ControleEstoqueADS2022.Models.Estoque

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja excluir esse estoque?</h3>
<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idfornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idfornecedor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>
